<a href="https://colab.research.google.com/github/JuanMBar/EntregaDesafioApi/blob/main/Desaf%C3%ADosApisBarri.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

La API de interés es **College Scorecard AP**I, proporcionada por el Departamento de Educación de Estados Unidos. Permite acceder a datos sobre universidades y colegios, incluyendo información sobre tasas de graduación, ingresos después de la graduación, deudas estudiantiles y más.

In [1]:
import requests
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import ttest_rel

In [2]:
base_url = "https://api.data.gov/ed/collegescorecard/v1/"
dataset = "schools.json?"
filter_params = "latest.student.size__range=25000.."
fields = ["id",
          "school.name",
          "2014.student.size",
          "2019.student.size",
          "location.lat",
          "location.lon",
          "latest.admissions.sat_scores.midpoint.math",
          "latest.admissions.act_scores.midpoint.math",
          "oops.variable.does.not.exist"]
options = "&per_page=100"
api_key = "&api_key=xxxxxxx"

request_url = base_url + dataset + filter_params + \
              "&fields=" + ",".join(fields) + options + api_key
print(request_url[:-40])

https://api.data.gov/ed/collegescorecard/v1/schools.json?latest.student.size__range=25000..&fields=id,school.name,2014.student.size,2019.student.size,location.lat,location.lon,latest.admissions.sat_scores.midpoint.math,latest.admissions.act_scores.midpoint.math,oops.variable.does.not.exist&per_page=100&api_key=

In [3]:
resp = requests.get(request_url)
resp.raise_for_status()

In [4]:
resp.json()

{'metadata': {'page': 0, 'total': 80, 'per_page': 100},
 'results': [{'latest.admissions.sat_scores.midpoint.math': 610,
   'latest.admissions.act_scores.midpoint.math': 24,
   '2019.student.size': 31900,
   '2014.student.size': 29851,
   'school.name': 'The University of Alabama',
   'id': 100751,
   'location.lat': 33.211875,
   'location.lon': -87.545978},
  {'latest.admissions.sat_scores.midpoint.math': None,
   'latest.admissions.act_scores.midpoint.math': None,
   '2019.student.size': 44038,
   '2014.student.size': 39316,
   'school.name': 'Arizona State University Campus Immersion',
   'id': 104151,
   'location.lat': 33.417721,
   'location.lon': -111.934383},
  {'latest.admissions.sat_scores.midpoint.math': 625,
   'latest.admissions.act_scores.midpoint.math': 24,
   '2019.student.size': 33715,
   '2014.student.size': 32646,
   'school.name': 'University of Arizona',
   'id': 104179,
   'location.lat': 32.232672,
   'location.lon': -110.950815},
  {'latest.admissions.sat_scores.midpoint.math': None,
   'latest.admissions.act_scores.midpoint.math': None,
   '2019.student.size': 57629,
   '2014.student.size': 38905,
   'school.name': 'Grand Canyon University',
   'id': 104717,
   'location.lat': 33.513231,
   'location.lon': -112.129929},
  {'latest.admissions.sat_scores.midpoint.math': None,
   'latest.admissions.act_scores.midpoint.math': None,
   '2019.student.size': 26373,
   '2014.student.size': 22269,
   'school.name': 'California State Polytechnic University-Pomona',
   'id': 110529,
   'location.lat': 34.057912,
   'location.lon': -117.821476},
  {'latest.admissions.sat_scores.midpoint.math': None,
   'latest.admissions.act_scores.midpoint.math': None,
   '2019.student.size': 35087,
   '2014.student.size': 32610,
   'school.name': 'California State University-Fullerton',
   'id': 110565,
   'location.lat': 33.881506,
   'location.lon': -117.885446},
  {'latest.admissions.sat_scores.midpoint.math': None,
   'latest.admissions.act_scores.midpoint.math': None,
   '2019.student.size': 32900,
   '2014.student.size': 31493,
   'school.name': 'California State University-Long Beach',
   'id': 110583,
   'location.lat': 33.782818,
   'location.lon': -118.11204},
  {'latest.admissions.sat_scores.midpoint.math': None,
   'latest.admissions.act_scores.midpoint.math': None,
   '2019.student.size': 34713,
   '2014.student.size': 35409,
   'school.name': 'California State University-Northridge',
   'id': 110608,
   'location.lat': 34.240126,
   'location.lon': -118.529319},
  {'latest.admissions.sat_scores.midpoint.math': None,
   'latest.admissions.act_scores.midpoint.math': None,
   '2019.student.size': 28718,
   '2014.student.size': 26400,
   'school.name': 'California State University-Sacramento',
   'id': 110617,
   'location.lat': 38.559415,
   'location.lon': -121.423549},
  {'latest.admissions.sat_scores.midpoint.math': None,
   'latest.admissions.act_scores.midpoint.math': None,
   '2019.student.size': 31345,
   '2014.student.size': 27126,
   'school.name': 'University of California-Berkeley',
   'id': 110635,
   'location.lat': 37.871918,
   'location.lon': -122.260463},
  {'latest.admissions.sat_scores.midpoint.math': None,
   'latest.admissions.act_scores.midpoint.math': None,
   '2019.student.size': 30962,
   '2014.student.size': 27547,
   'school.name': 'University of California-Davis',
   'id': 110644,
   'location.lat': 38.539667,
   'location.lon': -121.749567},
  {'latest.admissions.sat_scores.midpoint.math': None,
   'latest.admissions.act_scores.midpoint.math': None,
   '2019.student.size': 30367,
   '2014.student.size': 24474,
   'school.name': 'University of California-Irvine',
   'id': 110653,
   'location.lat': 33.648434,
   'location.lon': -117.841248},
  {'latest.admissions.sat_scores.midpoint.math': None,
   'latest.admissions.act_scores.midpoint.math': None,
   '2019.student.size': 31537,
   '2014.student.size': 29627,
   'school.name': 'University of California-Los Angeles',
   'id': 110662,
   'location.lat': 34.07178,
   'location.lon': -118.442179},
  {'latest.admissions.sat_scores.midpoint.math': None,
   'latest.admissions.act_scores.midpoint.math': None,
   '2019.student.size': 30789,
   '2014.student.size': 24801,
   'school.name': 'University of California-San Diego',
   'id': 110680,
   'location.lat': 32.877749,
   'location.lon': -117.235866},
  {'latest.admissions.sat_scores.midpoint.math': None,
   'latest.admissions.act_scores.midpoint.math': None,
   '2019.student.size': 31156,
   '2014.student.size': 32173,
   'school.name': 'East Los Angeles College',
   'id': 113856,
   'location.lat': 34.040531,
   'location.lon': -118.148785},
  {'latest.admissions.sat_scores.midpoint.math': None,
   'latest.admissions.act_scores.midpoint.math': None,
   '2019.student.size': 30347,
   '2014.student.size': 27824,
   'school.name': 'San Diego State University',
   'id': 122409,
   'location.lat': 32.77525,
   'location.lon': -117.071228},
  {'latest.admissions.sat_scores.midpoint.math': None,
   'latest.admissions.act_scores.midpoint.math': None,
   '2019.student.size': 27723,
   '2014.student.size': 26528,
   'school.name': 'San Jose State University',
   'id': 122755,
   'location.lat': 37.336569,
   'location.lon': -121.880621},
  {'latest.admissions.sat_scores.midpoint.math': 640,
   'latest.admissions.act_scores.midpoint.math': 27,
   '2019.student.size': 30630,
   '2014.student.size': 25873,
   'school.name': 'University of Colorado Boulder',
   'id': 126614,
   'location.lat': 40.008781,
   'location.lon': -105.270823},
  {'latest.admissions.sat_scores.midpoint.math': None,
   'latest.admissions.act_scores.midpoint.math': None,
   '2019.student.size': 32140,
   '2014.student.size': 39175,
   'school.name': 'Broward College',
   'id': 132709,
   'location.lat': 26.119422,
   'location.lon': -80.14183},
  {'latest.admissions.sat_scores.midpoint.math': 620,
   'latest.admissions.act_scores.midpoint.math': 26,
   '2019.student.size': 58940,
   '2014.student.size': 52280,
   'school.name': 'University of Central Florida',
   'id': 132903,
   'location.lat': 28.602159,
   'location.lon': -81.200889},
  {'latest.admissions.sat_scores.midpoint.math': 560,
   'latest.admissions.act_scores.midpoint.math': 22,
   '2019.student.size': 41843,
   '2014.student.size': 39102,
   'school.name': 'Florida International University',
   'id': 133951,
   'location.lat': 25.75732,
   'location.lon': -80.373928},
  {'latest.admissions.sat_scores.midpoint.math': 620,
   'latest.admissions.act_scores.midpoint.math': 26,
   '2019.student.size': 32881,
   '2014.student.size': 32432,
   'school.name': 'Florida State University',
   'id': 134097,
   'location.lat': 30.440756,
   'location.lon': -84.291921},
  {'latest.admissions.sat_scores.midpoint.math': 700,
   'latest.admissions.act_scores.midpoint.math': 29,
   '2019.student.size': 34523,
   '2014.student.size': 31879,
   'school.name': 'University of Florida',
   'id': 134130,
   'location.lat': 29.64629,
   'location.lon': -82.347911},
  {'latest.admissions.sat_scores.midpoint.math': None,
   'latest.admissions.act_scores.midpoint.math': None,
   '2019.student.size': 46478,
   '2014.student.size': 61470,
   'school.name': 'Miami Dade College',
   'id': 135717,
   'location.lat': 25.777717,
   'location.lon': -80.190856},
  {'latest.admissions.sat_scores.midpoint.math': 615,
   'latest.admissions.act_scores.midpoint.math': 25,
   '2019.student.size': 31765,
   '2014.student.size': 30279,
   'school.name': 'University of South Florida',
   'id': 137351,
   'location.lat': 28.061458,
   'location.lon': -82.413232},
  {'latest.admissions.sat_scores.midpoint.math': None,
   'latest.admissions.act_scores.midpoint.math': None,
   '2019.student.size': 39142,
   '2014.student.size': 37634,
   'school.name': 'Valencia College',
   'id': 138187,
   'location.lat': 28.520898,
   'location.lon': -81.471466},
  {'latest.admissions.sat_scores.midpoint.math': 580,
   'latest.admissions.act_scores.midpoint.math': 22,
   '2019.student.size': 27256,
   '2014.student.size': 24619,
   'school.name': 'Georgia State University',
   'id': 139940,
   'location.lat': 33.7527,
   'location.lon': -84.38667},
  {'latest.admissions.sat_scores.midpoint.math': 680,
   'latest.admissions.act_scores.midpoint.math': 30,
   '2019.student.size': 29726,
   '2014.student.size': 26738,
   'school.name': 'University of Georgia',
   'id': 139959,
   'location.lat': 33.956262,
   'location.lon': -83.374039},
  {'latest.admissions.sat_scores.midpoint.math': 540,
   'latest.admissions.act_scores.midpoint.math': 22,
   '2019.student.size': 38672,
   '2014.student.size': 23865,
   'school.name': 'Brigham Young University-Idaho',
   'id': 142522,
   'location.lat': 43.818408,
   'location.lon': -111.782431},
  {'latest.admissions.sat_scores.midpoint.math': 730,
   'latest.admissions.act_scores.midpoint.math': 31,
   '2019.student.size': 33080,
   '2014.student.size': 31875,
   'school.name': 'University of Illinois Urbana-Champaign',
   'id': 145637,
   'location.lat': 40.104718,
   'location.lon': -88.229114},
  {'latest.admissions.sat_scores.midpoint.math': None,
   'latest.admissions.act_scores.midpoint.math': None,
   '2019.student.size': 58978,
   '2014.student.size': 77657,
   'school.name': 'Ivy Tech Community College',
   'id': 150987,
   'location.lat': 39.803753,
   'location.lon': -86.158213},
  {'latest.admissions.sat_scores.midpoint.math': 640,
   'latest.admissions.act_scores.midpoint.math': 28,
   '2019.student.size': 32794,
   '2014.student.size': 32252,
   'school.name': 'Indiana University-Bloomington',
   'id': 151351,
   'location.lat': 39.16609,
   'location.lon': -86.526559},
  {'latest.admissions.sat_scores.midpoint.math': 612,
   'latest.admissions.act_scores.midpoint.math': 24,
   '2019.student.size': 27930,
   '2014.student.size': 28336,
   'school.name': 'Iowa State University',
   'id': 153603,
   'location.lat': 42.026212,
   'location.lon': -93.648504},
  {'latest.admissions.sat_scores.midpoint.math': None,
   'latest.admissions.act_scores.midpoint.math': None,
   '2019.student.size': 26394,
   '2014.student.size': 44744,
   'school.name': 'Ashford University',
   'id': 154022,
   'location.lat': 32.8273,
   'location.lon': -117.141961},
  {'latest.admissions.sat_scores.midpoint.math': 605,
   'latest.admissions.act_scores.midpoint.math': 25,
   '2019.student.size': 23706,
   '2014.student.size': 24452,
   'school.name': 'Louisiana State University and Agricultural & Mechanical College',
   'id': 159391,
   'location.lat': 30.414986,
   'location.lon': -91.178921},
  {'latest.admissions.sat_scores.midpoint.math': None,
   'latest.admissions.act_scores.midpoint.math': None,
   '2019.student.size': 42888,
   '2014.student.size': 33892,
   'school.name': 'University of Maryland Global Campus',
   'id': 163204,
   'location.lat': 38.912706,
   'location.lon': -76.847584},
  {'latest.admissions.sat_scores.midpoint.math': 730,
   'latest.admissions.act_scores.midpoint.math': 31,
   '2019.student.size': 29905,
   '2014.student.size': 26532,
   'school.name': 'University of Maryland-College Park',
   'id': 163286,
   'location.lat': 38.988178,
   'location.lon': -76.944721},
  {'latest.admissions.sat_scores.midpoint.math': None,
   'latest.admissions.act_scores.midpoint.math': None,
   '2019.student.size': 31046,
   '2014.student.size': 28217,
   'school.name': 'University of Michigan-Ann Arbor',
   'id': 170976,
   'location.lat': 42.275921,
   'location.lon': -83.742769},
  {'latest.admissions.sat_scores.midpoint.math': 610,
   'latest.admissions.act_scores.midpoint.math': 25,
   '2019.student.size': 38950,
   '2014.student.size': 38395,
   'school.name': 'Michigan State University',
   'id': 171100,
   'location.lat': 42.73212,
   'location.lon': -84.476111},
  {'latest.admissions.sat_scores.midpoint.math': 715,
   'latest.admissions.act_scores.midpoint.math': 29,
   '2019.student.size': 31367,
   '2014.student.size': 30135,
   'school.name': 'University of Minnesota-Twin Cities',
   'id': 174066,
   'location.lat': 44.972851,
   'location.lon': -93.235464},
  {'latest.admissions.sat_scores.midpoint.math': None,
   'latest.admissions.act_scores.midpoint.math': None,
   '2019.student.size': 30090,
   '2014.student.size': 31149,
   'school.name': 'College of Southern Nevada',
   'id': 182005,
   'location.lat': 36.158114,
   'location.lon': -115.233099},
  {'latest.admissions.sat_scores.midpoint.math': None,
   'latest.admissions.act_scores.midpoint.math': None,
   '2019.student.size': 90196,
   '2014.student.size': 28035,
   'school.name': 'Southern New Hampshire University',
   'id': 183026,
   'location.lat': 43.038922,
   'location.lon': -71.451842},
  {'latest.admissions.sat_scores.midpoint.math': 695,
   'latest.admissions.act_scores.midpoint.math': 30,
   '2019.student.size': 35760,
   '2014.student.size': 34094,
   'school.name': 'Rutgers University-New Brunswick',
   'id': 186380,
   'location.lat': 40.498769,
   'location.lon': -74.446251},
  {'latest.admissions.sat_scores.midpoint.math': 775,
   'latest.admissions.act_scores.midpoint.math': None,
   '2019.student.size': 26613,
   '2014.student.size': 24539,
   'school.name': 'New York University',
   'id': 193900,
   'location.lat': 40.729452,
   'location.lon': -73.997264},
  {'latest.admissions.sat_scores.midpoint.math': 630,
   'latest.admissions.act_scores.midpoint.math': 27,
   '2019.student.size': 26610,
   '2014.student.size': 23795,
   'school.name': 'University of Cincinnati-Main Campus',
   'id': 201885,
   'location.lat': 39.131159,
   'location.lon': -84.51428},
  {'latest.admissions.sat_scores.midpoint.math': None,
   'latest.admissions.act_scores.midpoint.math': None,
   '2019.student.size': 24276,
   '2014.student.size': 2514,
   'school.name': 'Eastern Gateway Community College',
   'id': 203331,
   'location.lat': 40.376056,
   'location.lon': -80.672337},
  {'latest.admissions.sat_scores.midpoint.math': 685,
   'latest.admissions.act_scores.midpoint.math': 29,
   '2019.student.size': 45657,
   '2014.student.size': 43733,
   'school.name': 'Ohio State University-Main Campus',
   'id': 204796,
   'location.lat': 39.999324,
   'location.lon': -83.014853},
  {'latest.admissions.sat_scores.midpoint.math': 625,
   'latest.admissions.act_scores.midpoint.math': 24,
   '2019.student.size': 25339,
   '2014.student.size': 22925,
   'school.name': 'Oregon State University',
   'id': 209542,
   'location.lat': 44.56395,
   'location.lon': -123.274723},
  {'latest.admissions.sat_scores.midpoint.math': None,
   'latest.admissions.act_scores.midpoint.math': None,
   '2019.student.size': 28308,
   '2014.student.size': 27669,
   'school.name': 'Temple University',
   'id': 216339,
   'location.lat': 39.980546,
   'location.lon': -75.156859},
  {'latest.admissions.sat_scores.midpoint.math': 625,
   'latest.admissions.act_scores.midpoint.math': 27,
   '2019.student.size': 27066,
   '2014.student.size': 24623,
   'school.name': 'University of South Carolina-Columbia',
   'id': 218663,
   'location.lat': 33.996788,
   'location.lon': -81.026935},
  {'latest.admissions.sat_scores.midpoint.math': None,
   'latest.admissions.act_scores.midpoint.math': None,
   '2019.student.size': 29961,
   '2014.student.size': 32581,
   'school.name': 'Austin Community College District',
   'id': 222992,
   'location.lat': 30.322744,
   'location.lon': -97.712505},
  {'latest.admissions.sat_scores.midpoint.math': None,
   'latest.admissions.act_scores.midpoint.math': None,
   '2019.student.size': 8049,
   '2014.student.size': 8796,
   'school.name': 'Dallas College',
   'id': 224615,
   'location.lat': 32.766319,
   'location.lon': -96.794036},
  {'latest.admissions.sat_scores.midpoint.math': None,
   'latest.admissions.act_scores.midpoint.math': None,
   '2019.student.size': 55990,
   '2014.student.size': 58084,
   'school.name': 'Houston Community College',
   'id': 225423,
   'location.lat': 29.742114,
   'location.lon': -95.377319},
  {'latest.admissions.sat_scores.midpoint.math': 620,
   'latest.admissions.act_scores.midpoint.math': 25,
   '2019.student.size': 37631,
   '2014.student.size': 31643,
   'school.name': 'University of Houston',
   'id': 225511,
   'location.lat': 29.720393,
   'location.lon': -95.343537},
  {'latest.admissions.sat_scores.midpoint.math': None,
   'latest.admissions.act_scores.midpoint.math': None,
   '2019.student.size': 55219,
   '2014.student.size': 59920,
   'school.name': 'Lone Star College System',
   'id': 227182,
   'location.lat': 30.18737,
   'location.lon': -95.488103},
  {'latest.admissions.sat_scores.midpoint.math': 555,
   'latest.admissions.act_scores.midpoint.math': 21,
   '2019.student.size': 32159,
   '2014.student.size': 29758,
   'school.name': 'University of North Texas',
   'id': 227216,
   'location.lat': 33.211178,
   'location.lon': -97.148422},
  {'latest.admissions.sat_scores.midpoint.math': None,
   'latest.admissions.act_scores.midpoint.math': None,
   '2019.student.size': 24902,
   '2014.student.size': 17811,
   'school.name': 'The University of Texas Rio Grande Valley',
   'id': 227368,
   'location.lat': 26.306759,
   'location.lon': -98.173567},
  {'latest.admissions.sat_scores.midpoint.math': 535,
   'latest.admissions.act_scores.midpoint.math': 20,
   '2019.student.size': 33917,
   '2014.student.size': 32177,
   'school.name': 'Texas State University',
   'id': 228459,
   'location.lat': 29.888885,
   'location.lon': -97.943029},
  {'latest.admissions.sat_scores.midpoint.math': None,
   'latest.admissions.act_scores.midpoint.math': None,
   '2019.student.size': 38682,
   '2014.student.size': 42189,
   'school.name': 'Tarrant County College District',
   'id': 228547,
   'location.lat': 32.747495,
   'location.lon': -97.327941},
  {'latest.admissions.sat_scores.midpoint.math': 635,
   'latest.admissions.act_scores.midpoint.math': 27,
   '2019.student.size': 53119,
   '2014.student.size': 46941,
   'school.name': 'Texas A & M University-College Station',
   'id': 228723,
   'location.lat': 30.618726,
   'location.lon': -96.336475},
  {'latest.admissions.sat_scores.midpoint.math': 555,
   'latest.admissions.act_scores.midpoint.math': 22,
   '2019.student.size': 34422,
   '2014.student.size': 29616,
   'school.name': 'The University of Texas at Arlington',
   'id': 228769,
   'location.lat': 32.729718,
   'location.lon': -97.11296},
  {'latest.admissions.sat_scores.midpoint.math': 690,
   'latest.admissions.act_scores.midpoint.math': 30,
   '2019.student.size': 39783,
   '2014.student.size': 38914,
   'school.name': 'The University of Texas at Austin',
   'id': 228778,
   'location.lat': 30.282825,
   'location.lon': -97.738273},
  {'latest.admissions.sat_scores.midpoint.math': 555,
   'latest.admissions.act_scores.midpoint.math': 21,
   '2019.student.size': 27573,
   '2014.student.size': 23815,
   'school.name': 'The University of Texas at San Antonio',
   'id': 229027,
   'location.lat': 29.583709,
   'location.lon': -98.620657},
  {'latest.admissions.sat_scores.midpoint.math': 595,
   'latest.admissions.act_scores.midpoint.math': 25,
   '2019.student.size': 31172,
   '2014.student.size': 28278,
   'school.name': 'Texas Tech University',
   'id': 229115,
   'location.lat': 33.583448,
   'location.lon': -101.874783},
  {'latest.admissions.sat_scores.midpoint.math': 660,
   'latest.admissions.act_scores.midpoint.math': 28,
   '2019.student.size': 31292,
   '2014.student.size': 27163,
   'school.name': 'Brigham Young University',
   'id': 230038,
   'location.lat': 40.250851,
   'location.lon': -111.649281},
  {'latest.admissions.sat_scores.midpoint.math': None,
   'latest.admissions.act_scores.midpoint.math': None,
   '2019.student.size': 28314,
   '2014.student.size': 24546,
   'school.name': 'Utah Valley University',
   'id': 230737,
   'location.lat': 40.281078,
   'location.lon': -111.716456},
  {'latest.admissions.sat_scores.midpoint.math': 620,

In [5]:
college_info = pd.DataFrame(resp.json()['results']).set_index('id')
college_info

,latest.admissions.sat_scores.midpoint.math,latest.admissions.act_scores.midpoint.math,2019.student.size,2014.student.size,school.name,location.lat,location.lon
id,,,,,,,
100751,610.0,24.0,31900.0,29851.0,The University of Alabama,33.211875,-87.545978
104151,NaN,NaN,44038.0,39316.0,Arizona State University Campus Immersion,33.417721,-111.934383
104179,625.0,24.0,33715.0,32646.0,University of Arizona,32.232672,-110.950815
104717,NaN,NaN,57629.0,38905.0,Grand Canyon University,33.513231,-112.129929
110529,NaN,NaN,26373.0,22269.0,California State Polytechnic University-Pomona,34.057912,-117.821476
...,...,...,...,...,...,...,...
483124,NaN,NaN,34383.0,11340.0,Arizona State University Digital Immersion,33.463786,-111.923861
484613,NaN,NaN,68833.0,151558.0,University of Phoenix-Arizona,33.411280,-112.012761
486840,570.0,22.0,33439.0,NaN,Kennesaw State University,34.038807,-84.583052
489779,NaN,NaN,28106.0,NaN,Purdue University Global,39.918440,-86.109501
495767,630.0,27.0,NaN,NaN,The Pennsylvania State University,40.796500,-77.862848

In [6]:
college_info.to_excel("college_info.xlsx")

In [7]:
college_info.describe()

,latest.admissions.sat_scores.midpoint.math,latest.admissions.act_scores.midpoint.math,2019.student.size,2014.student.size,location.lat,location.lon
count,39.000000,38.000000,79.000000,77.000000,80.000000,80.000000
mean,634.538462,26.000000,36025.468354,33847.870130,35.630574,-96.381003
std,58.037123,3.093148,13430.300368,17741.495882,5.075947,15.889900
min,535.000000,20.000000,8049.000000,2514.000000,25.757320,-123.274723
25%,607.500000,24.000000,29461.000000,26400.000000,32.743051,-111.926491
50%,625.000000,26.000000,31900.000000,29977.000000,34.049222,-95.360428
75%,675.000000,28.750000,38151.500000,38395.000000,39.985240,-82.396902
max,775.000000,31.000000,98630.000000,151558.000000,47.655380,-71.451842